

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('b.png');
  background-size: 228px 228px;
}

.login-container > form {
  background-color: #fff;
  max-width: 512px;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
  border-radius: 2px;
  text-align: left;

}

.user-header {
  margin-left: auto;
  cursor: pointer;
}

.user-header span:last-child {
  display: inline-block;
  margin-left: 6px;
}